USE [master]
GO
/****** Object:  Database [StajDb]    Script Date: 30.10.2025 07:38:30 ******/
CREATE DATABASE [StajDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Staj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Staj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Staj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Staj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StajDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StajDb]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNTID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](128) NOT NULL,
	[CODE] [nvarchar](32) NULL,
	[LOVACCOUNTTYPEID] [smallint] NULL,
	[ACTIVE_VERSION] [char](1) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [smallint] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [smallint] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
	[LOVCUSTOMERTYPEID] [smallint] NULL,
	[ERP_NO] [nvarchar](32) NULL,
	[TRANSFER_STATUS] [char](1) NULL,
	[TRANSFER_DATE] [datetime2](6) NULL,
	[AUDIT_CREATE_DATE2] [datetime2](6) NULL,
	[AUDIT_MODIFY_DATE2] [datetime2](6) NULL,
	[FIRSTNAME] [nvarchar](128) NULL,
	[LASTNAME] [nvarchar](128) NULL,
	[BIRTHDATE] [date] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTADDRESS]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTADDRESS](
	[ACCOUNTADDRESSID] [varchar](32) NOT NULL,
	[ACCOUNTADDRESSVERSIONID] [varchar](32) NOT NULL,
	[ACCOUNTID] [nvarchar](36) NOT NULL,
	[SOURCEUNITID] [bigint] NOT NULL,
	[COLLECTIONUNITID] [bigint] NOT NULL,
	[TARGETUNITID] [bigint] NOT NULL,
	[INVOICEUNITID] [bigint] NOT NULL,
	[INVOICE_TITLE] [nvarchar](128) NULL,
	[TAX_OFFICE] [nvarchar](32) NULL,
	[TAX_NUMBER] [nvarchar](32) NULL,
	[TAX_EXEMPT] [char](1) NULL,
	[TAX_EXEMPTREASON] [nvarchar](32) NULL,
	[TAX_NUMBER_CONFIDENTIAL] [char](1) NULL,
	[PHONE1] [nvarchar](32) NULL,
	[PHONE2] [nvarchar](32) NULL,
	[MOBILE_PHONE] [nvarchar](32) NULL,
	[FAX1] [nvarchar](32) NULL,
	[FAX2] [nvarchar](32) NULL,
	[EMAIL1] [nvarchar](128) NULL,
	[EMAIL2] [nvarchar](128) NULL,
	[URL] [nvarchar](128) NULL,
	[ACTIVE_VERSION] [char](1) NULL,
	[ADDRESS] [nvarchar](256) NULL,
	[HINTCOUNTRYID] [varchar](32) NULL,
	[HINTCITYID] [varchar](32) NULL,
	[HINTTOWNID] [varchar](32) NULL,
	[HINT_DISTRICT] [nvarchar](64) NULL,
	[HINT_QUARTER] [nvarchar](64) NULL,
	[HINT_AVENUE] [nvarchar](64) NULL,
	[HINT_STREET] [nvarchar](64) NULL,
	[BUILDING_NUMBER] [nvarchar](8) NULL,
	[DOOR_NUMBER] [int] NULL,
	[BUILDING_NAME] [nvarchar](32) NULL,
	[POST_CODE] [nvarchar](32) NULL,
	[HINT_FIELD] [nvarchar](64) NULL,
	[INVOICEADDRESSVERSIONID] [varchar](32) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [int] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [int] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
	[NAME] [nvarchar](128) NULL,
	[BLOCK] [nvarchar](8) NULL,
	[ACCEPT_RECEIVER_PAYMENT] [char](1) NULL,
	[ACCEPT_CARGO] [char](1) NULL,
	[ACCEPT_CARGO_SATURDAY] [char](1) NULL,
	[ACCEPT_CONTRACTED_SHIPMENT] [char](1) NULL,
	[DELIVER_AT_HUB] [char](1) NULL,
	[DELIVER_FROM_HUB] [char](1) NULL,
	[BATCH_INVOICE] [char](1) NULL,
	[HINTERLANDID] [varchar](32) NULL,
	[HINTERLAND_STATUS] [int] NULL,
	[ERP_NO] [nvarchar](32) NULL,
	[INTEGRATION_CODE] [nvarchar](32) NULL,
	[LOVADDRESSTYPEID] [int] NULL,
	[LOVAPPROVEDID] [smallint] NULL,
	[APPROVEDBY] [int] NULL,
	[APPROVE_DATE] [datetime2](6) NULL,
	[VALID_ALL_UNITS] [char](1) NULL,
	[EXCEPT_SELECTED_UNITS] [char](1) NULL,
	[LAST_VERSION] [char](1) NULL,
	[TRANSFER_STATUS] [char](1) NULL,
	[TRANSFER_DATE] [datetime2](6) NULL,
	[ACCOUNTING] [char](1) NULL,
	[LOVADDRESSSTATUSID] [char](1) NULL,
	[INVOICE_ADDRESS] [nvarchar](256) NULL,
	[ACCEPT_CARGO_WORLDWIDE] [char](1) NULL,
	[FORCE_INTEGRATION_CODE] [char](1) NULL,
	[USE_PRICELIST_SERVICE] [char](1) NULL,
	[FORCE_INTEGRATION_CODE_REGEX] [nvarchar](255) NULL,
	[ADDRESSSTATUSMODIFYDATE] [datetime2](6) NULL,
	[UNCERTAIN_CREDIT] [char](1) NULL,
	[CUSTOMERSPECIALMESSAGETEXT] [nvarchar](255) NULL,
	[BARTERCHEQUEUSER] [char](1) NULL,
	[AUDIT_CREATE_DATE2] [datetime2](6) NULL,
	[AUDIT_MODIFY_DATE2] [datetime2](6) NULL,
	[ACCOUNTADDRESS_CODE] [nvarchar](32) NULL,
	[LOVADDRESSKEYID] [smallint] NULL,
	[LOVIDENTITYTYPEID] [smallint] NULL,
	[LOVTAXEXEMPTREASONID] [smallint] NULL,
	[WITHHOLDING] [char](1) NULL,
	[GEOHINTERLANDID] [bigint] NULL,
	[XCOOR] [varchar](40) NULL,
	[YCOOR] [varchar](40) NULL,
	[LAST_USED_DATE] [datetime2](6) NULL,
	[LOVPOLYGONLEVELID] [smallint] NULL,
	[COURIERWORKRANGECODE] [nvarchar](10) NULL,
	[AA_EVERYDAY] [char](1) NULL,
	[AA_FIRSTTIME] [nvarchar](5) NULL,
	[AA_LASTTIME] [nvarchar](5) NULL,
	[BARCODE_ALIAS] [varchar](100) NULL,
	[EINVOICELABEL] [nvarchar](128) NULL,
	[WITHHOLDINGLIMIT] [char](1) NULL,
	[LOVAUDITCREATEDVERSIONID] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICERETURN]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICERETURN](
	[INVOICERETURNID] [varchar](32) NOT NULL,
	[ACCOUNTID] [varchar](32) NOT NULL,
	[ACCOUNTADDRESSVERSIONID] [varchar](32) NULL,
	[UNITID] [smallint] NULL,
	[DOCUMENT_SERIAL] [nvarchar](3) NULL,
	[DOCUMENT_NUMBER] [nvarchar](16) NULL,
	[DOCUMENT_DATE] [date] NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[CLOSED] [bit] NULL,
	[APPROVED] [bit] NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [smallint] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [smallint] NULL,
	[AUDIT_DELETED] [bit] NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
	[CANCELED] [bit] NULL,
	[LOVINVOICESUBTYPEID] [smallint] NULL,
	[OPERATION_DATE] [date] NULL,
	[LOVINVOICERETURNREASONID] [smallint] NULL,
	[ISMATBU] [bit] NULL,
 CONSTRAINT [PK_INVOICERETURN] PRIMARY KEY CLUSTERED 
(
	[INVOICERETURNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICERETURNLINE]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICERETURNLINE](
	[INVOICERETURNLINEID] [varchar](32) NOT NULL,
	[INVOICERETURNID] [varchar](32) NOT NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[COUNT] [decimal](22, 4) NULL,
	[VAT_RATE] [decimal](22, 4) NULL,
	[PRICE] [decimal](22, 4) NULL,
	[EXCHANGE_RATE] [decimal](22, 4) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [smallint] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [smallint] NULL,
	[AUDIT_DELETED] [bit] NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
	[EXCHANGE_PRICE] [decimal](18, 4) NULL,
	[LOVCURRENCYTYPEID] [smallint] NULL,
	[EXCHANGE_VAT] [decimal](18, 4) NULL,
 CONSTRAINT [PK_INVOICERETURNLINE] PRIMARY KEY CLUSTERED 
(
	[INVOICERETURNLINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOVCURRENCYTYPE]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOVCURRENCYTYPE](
	[LOVCURRENCYTYPEID] [smallint] NOT NULL,
	[NAME] [nvarchar](128) NOT NULL,
	[CODE] [nvarchar](32) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [int] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [int] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
	[exchange_rate] [decimal](7, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOVCURRENCYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOVINVOICERETURNREASON]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOVINVOICERETURNREASON](
	[LOVINVOICERETURNREASONID] [smallint] NULL,
	[NAME] [nvarchar](128) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [smallint] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [smallint] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOVINVOICESUBTYPE]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOVINVOICESUBTYPE](
	[LOVINVOICESUBTYPEID] [smallint] NULL,
	[LOVINVOICETYPEID] [smallint] NULL,
	[NAME] [nvarchar](128) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [int] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [int] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 30.10.2025 07:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USERID] [nvarchar](36) NOT NULL,
	[ACCOUNTID] [nvarchar](32) NULL,
	[USERNAME] [nvarchar](128) NOT NULL,
	[PASSWORD_HASH] [varbinary](32) NOT NULL,
	[ACTIVE_VERSION] [char](1) NULL,
	[AUDIT_CREATE_DATE] [datetime2](6) NULL,
	[AUDITCREATEDBY] [int] NULL,
	[AUDITCREATEUNITID] [int] NULL,
	[AUDIT_MODIFY_DATE] [datetime2](6) NULL,
	[AUDITMODIFIEDBY] [int] NULL,
	[AUDITMODIFYUNITID] [int] NULL,
	[AUDIT_DELETED] [char](1) NULL,
	[APPLICATION_VERSION] [varchar](16) NULL,
	[APPLICATIONID] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_ACTIVE_VERSION]  DEFAULT ((1)) FOR [ACTIVE_VERSION]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_AUDIT_DELETED]  DEFAULT ((0)) FOR [AUDIT_DELETED]
GO
ALTER TABLE [dbo].[ACCOUNTADDRESS] ADD  CONSTRAINT [DF__ACCOUNTAD__ACTIV__7B5B524B]  DEFAULT ('0') FOR [ACTIVE_VERSION]
GO
ALTER TABLE [dbo].[ACCOUNTADDRESS] ADD  CONSTRAINT [DF__ACCOUNTAD__BARTE__7C4F7684]  DEFAULT ('0') FOR [BARTERCHEQUEUSER]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  CONSTRAINT [DF_INVOICERETURNID]  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [INVOICERETURNID]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ((0)) FOR [UNITID]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT (getdate()) FOR [DOCUMENT_DATE]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ('0') FOR [CLOSED]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ('1') FOR [APPROVED]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT (getdate()) FOR [AUDIT_CREATE_DATE]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ((0)) FOR [AUDITCREATEDBY]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ('0') FOR [AUDITCREATEUNITID]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT (getdate()) FOR [AUDIT_MODIFY_DATE]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ('0') FOR [APPLICATION_VERSION]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ((1)) FOR [APPLICATIONID]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT ('0') FOR [CANCELED]
GO
ALTER TABLE [dbo].[INVOICERETURN] ADD  DEFAULT (getdate()) FOR [OPERATION_DATE]
GO
ALTER TABLE [dbo].[INVOICERETURNLINE] ADD  CONSTRAINT [DF__INVOICERE__INVOI__2FCF1A8A]  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [INVOICERETURNLINEID]
GO
ALTER TABLE [dbo].[INVOICERETURNLINE] ADD  DEFAULT (getdate()) FOR [AUDIT_CREATE_DATE]
GO
ALTER TABLE [dbo].[INVOICERETURNLINE] ADD  DEFAULT (getdate()) FOR [AUDIT_MODIFY_DATE]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (newid()) FOR [USERID]
GO
ALTER TABLE [dbo].[ACCOUNTADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTADDRESS_ACCOUNT] FOREIGN KEY([ACCOUNTID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNTID])
GO
ALTER TABLE [dbo].[ACCOUNTADDRESS] CHECK CONSTRAINT [FK_ACCOUNTADDRESS_ACCOUNT]
GO
ALTER TABLE [dbo].[INVOICERETURNLINE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICERETURNLINE_INVOICERETURN] FOREIGN KEY([INVOICERETURNID])
REFERENCES [dbo].[INVOICERETURN] ([INVOICERETURNID])
GO
ALTER TABLE [dbo].[INVOICERETURNLINE] CHECK CONSTRAINT [FK_INVOICERETURNLINE_INVOICERETURN]
GO
USE [master]
GO
